  <html>
        <head>
            <title>TESTESTTESTESTTESTESTTESTESTTESTEST</title>
        </head>
        <body>
            <div>
                <h1><a href="">Blog</a></h1>
            </div>

            <div>
                <p>TIME TO RUN</p>
                <h2><a href="">My first post</a></h2>
                <p>
                Костян дуралей

                 <p/>

            </div>

            <div>
                <p>TESTTESTTEST</p>
                <h2><a href="">My second post</a></h2>
                <p>
                    Катюха бармалей
                </p>
            </div>
        </body>
    </html>